body {
    background-color: #27566c;
}

.x1 {
    margin: auto;
    width: 50%;
    border: 3px solid #113c51;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.title1 {
    color: #6e91a1;
    font-family: monospace;
}
